.client {
  &-title {
    @include font(700, 36px, 1.1);
    text-align: center;
    color: var(--secondary-text-color);
    margin-bottom: 50px;
  }

  &-list {
    @include center-flex;
    flex-wrap: wrap;
    gap: 30px;
    // @include center-flex;
    // gap: 30px;

    @include desktop {
      @include center-flex;
      flex-wrap: nowrap;
      gap: 30px;
    }
  }

  &-icon {
    @include center-flex;
    @include size(170px, 92px);
    border: 1px solid #afb1b8;
    border-radius: 4px;
    fill: #afb1b8;
    transition: border 250ms var(--bezier);
  }

  &-icons {
    @include size(106px, 60px);
    transition: fill 250ms var(--bezier);
  }

  &-icon:hover,
  &-icon:focus {
    border-color: var(--accent-color);
    fill: var(--accent-color);
  }
}
