.features {
  color: var(--secondary-bcg-color);

  &-list {
    margin: 0 auto;

    @include table {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
    }
    
    @include desktop {
      display: flex;
      flex-wrap: nowrap;
    }
  }

  &-icon {
    @include center-flex;
    @include size(450px, 120px);
    background-color: #f5f4fa;
    border-radius: 4px;
    margin-bottom: 30px;

    @include table {
      @include size(354px, 120px);
    }

    @include desktop {
      @include size(270px, 120px);
    }
  }

  &-title {
    @include font(700, 14px, 1.14);
    text-align: center;
    text-transform: uppercase;
    color: var(--secondary-text-color);
    margin-bottom: 10px;

    @include table {
      text-align: left;
    }
  }

  &-text {
    @include font(400, 14px, 1.7);
    color: var(--secondary-gray-color);
  }

  &-item {
    width: 450px;
    height: 226px;

    @include table {
      @include size(354px, 224px);
    }

    @include desktop {
      @include size(270px, 248px);
    }
  }


  // &-item:not(:last-child) {
  //   margin-right: 30px;
  // }
}

.visually-hidden {
  @include size(1px, 1px);
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @include desktop {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clas {
  padding-bottom: 0;
}
