

.hero-title {
  width: 100%;
  max-width: 480px;
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/герой/hero-background-480.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
      background-position: center;

  @include retina {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/герой/hero-background-480@2x.jpg');
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/герой/hero-background-768.jpg');

    @include retina {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/герой/hero-background-768@2x.jpg');
    }
  }

  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/герой/hero-background-1600.jpg');

    @include retina {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/герой/hero-background-1600@2x.jpg');
    }
  }
}

.title {
  @include font(900, 26px, 1.6);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-white-color);
  max-width: 360px;
  margin: 0 auto;
  margin-bottom: 30px;

  @include desktop {
    @include font(900, 44px, 1.3);
    max-width: 696px;
  }
}
