.container {
    width: 100%;
    max-width: 480px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 768px) {
        max-width: 768px;
    }

    @media screen and (min-width: 1200px) {
        max-width: 1200px;
    }
}


.header .container {
  display: flex;
  align-items: center;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: var(--secondary-white-color);
  transform: translateX(100%);
  transition: transform 1250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-toggle {
  position: absolute;
  @include center-flex;
  top: 10px;
  right: 15px;
  min-height: 40px;
  min-width: 40px;
  margin-left: auto;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

.menu-toggle:hover,
.menu-toggle:focus {
  color: var(--accent-color);
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-container .menu-toggle {
  position: absolute;
  top: 20px;
  right: 15px;
  color: var(--secondary-text-color);
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-menu  {
  display: block;
  margin-bottom: 302px;
  color: var(--secondary-text-color);
  text-decoration: none;
}

.mobile-item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-link {
  @include font (500, 40px, 1.17);
}

.mobile-contact {
  margin-bottom: 64px;
}

.mobile-items:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-contacts {
  @include font (500, 34px, 1.17);
  color: var(--accent-color);
}

.mobile-mail {
  @include font (500, 24px, 1.16);
  color: var(--secondary-gray-color);
}



.mobile-social {
  @include center-flex;
}

.mobile-list:not(:last-child) {
  margin-right: 10px;
}

.mob-social {
  @include font (500, 18px, 1.22);
  color: var(--accent-color);
}

.mobile-list:not(:last-child)::after {
  content: "";
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
  
  
}


@media (max-width: 599px) {
  .menu {
    display: none;
  }
}
