.backdrop {
  @include size(100%, 100%);
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 2500ms var(--bezier), visibility 2500ms var(--bezier);
    
  }
  
  .modal {
    @include font(400, 12px, 1.16);
    @include size(100vw, 609px);
    max-width: 450px;
    letter-spacing: 0.01em;
    position: absolute;
    padding: 40px;
    left: 50%;
    top: 50%;
    background: var(--secondary-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transform: translate(-50%, -50%)scale(1);

    @include desktop {
      @include size(528px, 581px);
    }

    &-title {
      @include font(700, 20px, 1.5);
      text-align: center;
      color: var(--secondary-text-color);

      @include desktop {
        @include font(700, 20px, 1.15);
      }
    }
  }
  
  .name-wrap {
    display: flex;
    flex-direction: column;
    margin-top: 12px;

    & label {
      @include font(400, 12px, 1.16);
      letter-spacing: 0.01em;
      color: var(--secondary-gray-color);
      margin-bottom: 4px;
    }

    & svg {
      position: absolute;
      top: 50%;
      left: 12px;
      transform: translateY(-50%);
      transition: fill 250ms var(--bezier);
    }

    & input {
      @include size(100%, 40px);
      padding: 12px 42px;
      border: 1px solid rgba(33, 33, 33, 0.2);
      border-radius: 4px;
      outline: none;
      cursor: pointer;
      transition: border 250ms var(--bezier);
    }

    & textarea {
      @include size(auto, 120px);
      border: 1px solid rgba(33, 33, 33, 0.2);
      border-radius: 4px;
      padding: 12px 16px;
      outline: none;
      transition: border 250ms var(--bezier);
      cursor: pointer;
      resize:none
    }

    & textarea::placeholder {
      @include font(400, 14px, 1.14);
      letter-spacing: 0.01em;
      color: rgba(117, 117, 117, 0.5);

      @include desktop {
        @include font(400, 12px, 1.16);
      }
    }

    & textarea:focus {
      border: 1px solid var(--accent-color);
    }

    & input:focus {
      border: 1px solid var(--accent-color);
    }

    & input:focus + svg {
      fill: var(--accent-color);
    }
  }
  
  .icon-wrap {
    position: relative;
  }
  
  .accept-wrap {
    @include center-flex;
    margin-top: 20px;

    & input:checked + .checkbox {
      background-color: var(--accent-color);
      border: 2px solid var(--accent-color);
    }

    & label {
      @include font(400, 12px, 1.16);
      color: var(--secondary-gray-color);
      cursor: pointer;

      @include desktop {
        @include font(400, 14px, 1.71);
      }
    }
  }
  
  .checkbox {
    @include center-flex;
    @include size(16px, 15px);
    border-radius: 3px;
    border: 2px solid var(--secondary-text-color);
    margin-right: 7px;
    cursor: pointer;
    transition: background-color 250ms var(--bezier), border 250ms var(--bezier);
  }
  
  .contract {
    color: var(--accent-color);
  }
  
  .backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  
  .no-scroll {
    overflow: hidden;
  }