.work {
  &-list {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;

    @include table {
      max-width: 768px;
    }

    @include desktop {
      @include center-flex;
      max-width: 1230px;
      flex-wrap: wrap;
      margin: 0 auto;
    }
  }

  &-title {
    @include font(700, 18px, 2);
      letter-spacing: 0.06em;
      color: var(--secondary-text-color);
      margin-bottom: 4px;
    }

    &-item {
      margin: 0 auto;
      margin-bottom: 30px;

      @include table {
        max-width: 768px;
      }
    }

    &-shadow:hover,
    &-shadow:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }

    &-wrap {
      position: relative;
      overflow: hidden;
      
    }

    &-text {
      @include font(400, 18px, 1.55);
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      padding: 63px 24px;
      background: rgba(33, 150, 243, 0.9);
      color: var(--secondary-white-color);
      transform: translateY(101%);
      transition: transform 250ms var(--bezier);
    }
}
 
  .portfolio {
    display: block;
    text-decoration: none;
    transition: box-shadow 250ms var(--bezier);

    &:hover .work-text,
    &:focus .work-text {
      transform: translateY(0);
    }
  }
  
  .project {
    display: block;
  }
  
  .projects {
    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    padding: 20px 24px;

    
  }
  
  .proj {
    margin-bottom: 0;
  }