:root {
  --secondary-text-color: #212121;
  --secondary-bcg-color: #f5f5f5;
  --accent-color: #2196f3;
  --secondary-white-color: #ffffff;
  --secondary-gray-color: #757575;
  --bezier: cubic-bezier(0.4, 0, 0.2, 1);
}